absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1705494584803/work
accelerate==0.32.0
astunparse==1.6.3
async-timeout==4.0.3
beautifulsoup4==4.12.3
Bottleneck @ file:///croot/bottleneck_1707864210935/work
cachetools==5.3.3
certifi==2024.2.2
cffi==1.14.2
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
contourpy @ file:///opt/conda/conda-bld/contourpy_1663827406301/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
Cython==3.0.10
d4rl==1.1
dm-env==1.6
dm-tree==0.1.8
dm_control @ git+https://github.com/deepmind/dm_control@f4e5e2336991017361f563db7e676fd08857076f
dmcgym @ git+https://github.com/conglu1997/dmcgym.git@812905790dd87a448c9544a0beccb8b05ea2a850
docker-pycreds==0.4.0
egl_probe==1.0.2
einops==0.8.0
ema-pytorch==0.5.1
etils @ file:///home/conda/feedstock_root/build_artifacts/etils_1683949332511/work
evdev==1.7.1
fasteners==0.19
filelock==3.14.0
flatbuffers==24.3.25
fonttools @ file:///croot/fonttools_1713551344105/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1715865800631/work
gast==0.4.0
gdown==5.2.0
gin-config==0.5.0
gitdb==4.0.11
GitPython==3.1.43
glfw @ file:///home/conda/feedstock_root/build_artifacts/pyglfw_1708776859905/work
google-auth==2.29.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.63.0
gym==0.23.0
gym-notices==0.0.8
h5py==3.1.0
huggingface-hub==0.23.0
idna==3.7
imageio==2.34.1
imageio-ffmpeg==0.4.9
importlib_metadata==7.1.0
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1711040877059/work
Jinja2==3.1.4
joblib==1.4.2
keras==2.13.1
kiwisolver @ file:///croot/kiwisolver_1672387140495/work
labmaze==1.0.6
libclang==18.1.1
llvmlite==0.41.1
lxml==5.2.2
Markdown==3.6
MarkupSafe==2.1.5
matplotlib @ file:///croot/matplotlib-suite_1693812469450/work
-e git+https://github.com/NVlabs/mimicgen_environments.git@45db4b35a5a79e82ca8a70ce1321f855498ca82c#egg=mimicgen_envs
mjrl @ git+https://github.com/aravindr93/mjrl@3871d93763d3b49c4741e6daeaebbc605fe140dc
mpmath==1.3.0
mujoco==2.2.1
mujoco-py==2.1.2.14
mypy-extensions==1.0.0
natsort==8.4.0
networkx==3.1
numba==0.58.1
numexpr @ file:///croot/numexpr_1683221822650/work
numpy==1.24.3
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
opencv-python==4.9.0.80
opt-einsum==3.3.0
packaging @ file:///croot/packaging_1710807400464/work
pandas @ file:///croot/pandas_1692289311655/work
patsy==0.5.6
pillow @ file:///croot/pillow_1714398848491/work
platformdirs==4.2.2
protobuf==4.25.3
psutil==5.9.8
pyaml==24.4.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pybullet==3.2.6
pycparser==2.22
pygame==2.1.0
pynput==1.7.7
PyOpenGL @ file:///home/conda/feedstock_root/build_artifacts/pyopengl_1652285526610/work
pyparsing==2.4.7
pyquaternion==0.9.9
pyrallis==0.3.1
PyRep==4.1.0.3
PySocks==1.7.1
python-dateutil @ file:///croot/python-dateutil_1716495738603/work
python-xlib==0.33
pytorch-fid==0.3.0
pytz @ file:///croot/pytz_1713974312559/work
PyYAML==6.0.1
redis==5.0.7
-e git+https://github.com/watchernyu/REDQ.git@45a28d3e0960e222d1864c2cc8dabc1af287839f#egg=redq
regex==2024.5.15
requests==2.31.0
requests-oauthlib==2.0.0
rlbench==1.2.0
-e git+https://github.com/ARISE-Initiative/robomimic.git@5dee58f9cc1235010d0877142b54d0e82dd23986#egg=robomimic
robosuite @ git+https://github.com/ARISE-Initiative/robosuite.git@eafb81f54ffc104f905ee48a16bb15f059176ad3
-e git+https://github.com/ARISE-Initiative/robosuite-task-zoo@74eab7f88214c21ca1ae8617c2b2f8d19718a9ed#egg=robosuite_task_zoo
rsa==4.9
safetensors==0.4.3
scikit-learn==1.3.2
scikit-optimize==0.10.2
scipy==1.10.1
seaborn @ file:///croot/seaborn_1673479180098/work
sentry-sdk==2.7.1
setproctitle==1.3.3
six @ file:///tmp/build/80754af9/six_1644875935023/work
smmap==5.0.1
sortedcontainers==2.4.0
soupsieve==2.5
statsmodels==0.14.1
sympy==1.12
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tensorflow==2.13.1
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.34.0
termcolor==2.4.0
threadpoolctl==3.5.0
tokenizers==0.19.1
torch==2.3.0
torchdiffeq==0.2.4
torchvision==0.18.0
tqdm==4.66.4
transformers==4.41.0
triton==2.3.0
typing-inspect==0.9.0
typing_extensions==4.12.0
tzdata @ file:///croot/python-tzdata_1690578112552/work
unicodedata2 @ file:///croot/unicodedata2_1713212950228/work
urllib3==2.2.1
wandb==0.17.4
Werkzeug==3.0.3
wrapt==1.16.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1695255097490/work
